body {
    margin: 40px;
    padding: 0;
    background-color: black;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    border: white solid 5px;
    background-color: white;
  }
  
  .panel-main img,
  .thumbs img {
    width: 100%;
    height: auto;
  }
  
  .thumbs {
    width: 140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
  .thumbs > div{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
  }
  .thumbs > div.active{
  
    background-color: rgb(60, 255, 0);
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
  }
  